/* GENERAL */
/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 48px;
    /* 🔥 perfect navbar size */
    width: auto;
    /* keeps aspect ratio */
    object-fit: contain;
}

.app {
    min-height: 100vh;
    transition: all 0.3s ease;
}

.dark {
    background: linear-gradient(180deg, #1f1f1f, #0e0e0e);
    color: white;
}

.light {
    background: #f6f7fb;
    color: black;
}

/* NAVBAR */
/* .navbar {
  background: #1b1b1b;
  color: white;
} */

/* STAT CARDS */
.stat-card {
    background: white;
    border-radius: 18px;
    padding: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.dark .stat-card {
    background: #242424;
}

.icon {
    font-size: 28px;
    margin-bottom: 10px;
}

.title {
    color: #aaa;
    margin-bottom: 4px;
}

/* COLORS */
.green {
    color: #00c853;
}

.red {
    color: #ff5252;
}

.blue {
    color: #448aff;
}

/* ACTIVITY */
.activity {
    background: #242424;
    padding: 18px 22px;
    border-radius: 14px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.light .activity {
    background: white;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}